<header class="w-full">
    <nav class="h-16 flex justify-between items-center mx-4 lg:mx-8 gap-4">
        <!-- Back Navigation -->
        <div>
            <a href="/gallery/gamelan/index.html"><i class="fa-solid fa-arrow-left text-2xl cursor-pointer"></i></a>
        </div>
        <!-- Logo -->
        <div class="cursor-pointer">
            <img src="/assets/img/logo-keraton.png" alt="logo-keraton" class="w-12 h-12">
        </div>
    </nav>
</header>